* {
    margin: 0px;
    padding: 0px;
}
#banner{
    height: 100px;
    width: 100%;
    background-color: lightskyblue;
}
video {
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    object-fit: fill;
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置 */
    /*-webkit-filter: grayscale(100%);*/
    /*filter:grayscale(100%); //背景灰度设置*/
    z-index: -11
}

source {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

#choose {
    padding-left: 600px;
    padding-top: 300px;
}

#choose li {
    list-style: none; /* 将默认的列表符号去掉 */
    padding: 50px; /* 将默认的内边距去掉 */
    margin: 80px;
    float: left;
    font-size: 30px;
    color: white;
}

#block {
    padding: 5px;
    height: 49px;
    width: 124px;
    background-color: mediumpurple;
}

a {
    text-decoration: none;
    color: white;
}

#menu {
    padding-left: 75%;
    padding-top: 10px;
}

#menu li {
    float: left;
    list-style: none; /* 将默认的列表符号去掉 */
    padding: 30px;
}

#menu p {
    color: red;
    font-size: 24px;
}

#left-menu {
    padding-left: 20px;
    padding-top: 10px;
}

#left-menu li {
    float: left;
    list-style: none; /* 将默认的列表符号去掉 */
    margin-left: 125px;
    margin-top: 33px;
}

#left-menu p {
    color: green;
    font-size: 24px;
}

#box {
    display: inline-block;
    width: 900px;
    height: 700px;
    /*background-color: red;*/
    /*margin: 50px 20px auto 50px;*/
    padding-top: 80px;
    padding-left: 50px;
    padding-bottom: 50px;
}


#box video {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: fill;
}

#box p {
    width: 100%;
    height: 45px;
    display: block;
    line-height: 45px;
    text-align: center;
}

#which {
    display: inline-block;
    position: fixed;
    width: 200px;
    height: 100px;
    background-color: red;
    margin-top: 300px;
    margin-left: 20px;
    padding-top: 300px;
}

#which1 {
    display: inline-block;
    position: fixed;
    width: 200px;
    height: 100px;
    background-color: green;
    margin-top: 300px;
    margin-left: 240px;
    padding-top: 300px;
}

#which2 {
    display: inline-block;
    position: fixed;
    width: 200px;
    height: 100px;
    background-color: deeppink;
    margin-top: 300px;
    margin-left: 460px;
    padding-top: 300px;
}

#which3 {
    display: inline-block;
    position: fixed;
    width: 200px;
    height: 100px;
    background-color: blue;
    margin-top: 300px;
    margin-left: 680px;
    padding-top: 300px;
}

#which1 video {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: fill;
}

#tab{
    display: inline-block;
    position: fixed;
    width: 800px;
    height: 200px;
    margin-left: 50px;
    background-color: #b9def0;
}
#tab img{
    width: 100%;
    height: 100%;
}